<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广东检验检疫（检务）网上培训系统后台管理系统</title>
<link href="../css/htlogin.css" rel="stylesheet" type="text/css" />
<link href="../datepicker/default/datePicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../datepicker/WdatePicker.js"></script>
</head>
<script>
	function add_Sub()
	{
		window.document.location="testpaper.html";
	}
	function show_person()
	{
		if(window.document.getElementById("allcompany").style.display=='none')
		{
			window.document.getElementById("allcompany").style.display='';
		}
		else
		{
			window.document.getElementById("allcompany").style.display='none'
		}
	}
	function close_company()
	{
		window.document.getElementById("allcompany").style.display='none'
	}
</script>
<body topmargin="0" leftmargin="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="body01"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="195" background="../images/ht-body01.jpg" class="body02">当前位置：学习空间-我的考核-历史考核</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td class="body01"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="4" background="../images/ht-body02.jpg" class="body03">查询条件


 </td>
        </tr>
        <tr>
          <td width="26%" nowrap="nowrap" class="body06">考试名称：</td>
          <td width="27%" nowrap="nowrap" class="body04"><input name="textfield9" type="text" class="bodytext"  value="质检专场考试"/></td>
          <td width="23%" nowrap="nowrap" class="body06">组织单位：</td>
          <td width="24%" class="body04"><input name="textfield94" type="text" class="bodytext" /></td>
        </tr>
		<tr>
          <td nowrap="nowrap" class="body06">考试开始时间：</td>
          <td nowrap="nowrap" class="body04"><input name="textfield92" type="text" class="Wdate" onfocus="new WdatePicker(this)"/></td>
          <td nowrap="nowrap" class="body06">考试结束时间：</td>
          <td class="body04"><input name="textfield93" type="text" class="Wdate" onfocus="new WdatePicker(this)" /></td>
        </tr>
        <tr>
          <td colspan="4" class="body03"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="69%" height="35">&nbsp;</td>
                <td width="11%">&nbsp;</td>
                <td width="10%"><input type="image" src="../images/ht-but-check.jpg"/></td>
                <td width="10%"><input type="image" src="../images/ht-but-back.jpg" onclick="window.history.back();"/></td>
              </tr>
          </table></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td class="body01a"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="11" background="../images/ht-body02.jpg" class="body03">查询结果</td>
        </tr>
        <tr>
          <td width="9%" align="center" nowrap="nowrap" class="body05">考试名称</td>
          <td width="16%" align="center" nowrap="nowrap" class="body05">考试组织单位</td>
          <td width="12%" align="center" nowrap="nowrap" class="body05">试卷规定时长(分)</td>
          <td width="12%" align="center" nowrap="nowrap" class="body05">考试开始时间</td>
          <td width="12%" align="center" nowrap="nowrap" class="body05">考试完成时间</td>
          <td width="9%" align="center" nowrap="nowrap" class="body05">得分</td>
        </tr>
        <tr align="center">
          <td height="35" nowrap="nowrap" class="body03"><a href="../testmanage/seepaper.html" target="_blank">质检专场考试</a></td>
          <td nowrap="nowrap" class="body03">肇庆局</td>
          <td nowrap="nowrap" class="body03">120</td>
          <td nowrap="nowrap" class="body03">2007-10-16 8:00 </td>
          <td nowrap="nowrap" class="body03">2007-10-16 9:40</td>
          <td nowrap="nowrap" class="body03">80</td>
        </tr>
        <tr align="center">
          <td nowrap="nowrap" class="body06"><a href="../testmanage/seepaper.html" target="_blank">质检专场考试</a></td>
          <td nowrap="nowrap" class="body06">肇庆局</td>
          <td nowrap="nowrap" class="body06">120</td>
          <td nowrap="nowrap" class="body06">2007-10-17 8:00</td>
          <td nowrap="nowrap" class="body06">2007-10-17 10:00</td>
          <td nowrap="nowrap" class="body06">100</td>
        </tr>
        <tr align="center">
          <td nowrap="nowrap" class="body03"><a href="../testmanage/seepaper.html" target="_blank">质检专场考试</a></td>
          <td nowrap="nowrap" class="body03">肇庆局</td>
          <td nowrap="nowrap" class="body03">120</td>
          <td nowrap="nowrap" class="body03">2007-10-18 8:00</td>
          <td nowrap="nowrap" class="body03">2007-10-18 9:20</td>
          <td nowrap="nowrap" class="body03">90</td>
        </tr>
        <tr align="center">
          <td nowrap="nowrap" class="body06"><a href="../testmanage/seepaper.html" target="_blank">质检专场考试</a></td>
          <td nowrap="nowrap" class="body06">肇庆局</td>
          <td nowrap="nowrap" class="body06">120</td>
          <td nowrap="nowrap" class="body06">2007-10-19 8:00</td>
          <td nowrap="nowrap" class="body06">2007-10-19 10:00</td>
          <td nowrap="nowrap" class="body06">100</td>
        </tr>
        <tr>
          <td colspan="11" class="body03">&nbsp;</td>
        </tr>
    </table></td>
  </tr>
</table>
<div id="allcompany"  style="display:none; position: absolute; left:30px; top:200px; width:500px; height:180zopx;" >
		<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
			<tr>
				<td class="body03"><input type="checkbox"/>单位1</td>
				<td class="body03"><input type="checkbox"/>单位2</td>
				<td class="body03"><input type="checkbox"/>单位3</td>
				<td class="body03"><input type="checkbox"/>单位4</td>
				<td class="body03"><input type="checkbox"/>单位5</td>
				<td class="body03"><input type="checkbox"/>单位6</td>
			</tr>
			<tr>
				<td class="body06"><input type="checkbox"/>单位7</td>
				<td class="body06"><input type="checkbox"/>单位8</td>
				<td class="body06"><input type="checkbox"/>单位9</td>
				<td class="body06"><input type="checkbox"/>单位10</td>
				<td class="body06"><input type="checkbox"/>单位11</td>
				<td class="body06"><input type="checkbox"/>单位12</td>
			</tr>
			<tr>
				<td class="body03"><input type="checkbox"/>单位13</td>
				<td class="body03"><input type="checkbox"/>单位14</td>
				<td class="body03"><input type="checkbox"/>单位15</td>
				<td class="body03"><input type="checkbox"/>单位16</td>
				<td class="body03"><input type="checkbox"/>单位17</td>
				<td class="body03"><input type="checkbox"/>单位18</td>
			</tr>
			<tr>
				<td colspan="4"></td>
				<td colspan="2"><a href="#" onclick="close_company()">确定</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" onclick="close_company()">关闭</a></td>
			</tr>

		</table>

</div>
</body>
</html>

